In [40]:
import pandas as pd
import numpy as np
from IKSSW import IKSSW
from sklearn.ensemble import RandomForestClassifier

In [41]:
winsize = 400
stream = pd.read_csv("Datasets/2CDT.txt", header=None, index_col=False,sep=',', names=['0', '1', '2'])
stream

              0        1  2
0     -2.173800 -0.30919  1
1     -0.676320  1.07960  1
2      3.939200  2.07350  2
3      0.865890  1.83250  1
4      0.812800  0.51703  1
...         ...      ... ..
15995 -0.040798 -0.51266  1
15996  1.958700  1.39020  1
15997  4.399500  5.91600  2
15998  4.364600  3.11840  1
15999  2.154500  0.99238  1

[16000 rows x 3 columns]

In [42]:
stream['2'].replace(1, int(0), inplace=True)
stream['2'].replace(2, int(1), inplace=True)
stream

              0        1  2
0     -2.173800 -0.30919  0
1     -0.676320  1.07960  0
2      3.939200  2.07350  1
3      0.865890  1.83250  0
4      0.812800  0.51703  0
...         ...      ... ..
15995 -0.040798 -0.51266  0
15996  1.958700  1.39020  0
15997  4.399500  5.91600  1
15998  4.364600  3.11840  0
15999  2.154500  0.99238  0

[16000 rows x 3 columns]

In [43]:
start = stream.iloc[:winsize, :]
labels = stream.iloc[winsize+1:, -1]
start

           0        1  2
0   -2.17380 -0.30919  0
1   -0.67632  1.07960  0
2    3.93920  2.07350  1
3    0.86589  1.83250  0
4    0.81280  0.51703  0
..       ...      ... ..
395 -1.56420 -1.43390  0
396  3.00770 -0.03437  0
397  4.22860  4.38970  1
398  1.28150 -4.08470  0
399  4.04230  8.20820  1

[400 rows x 3 columns]

In [44]:
X_train = start.iloc[:, :-1]
X_test = start.iloc[:, -1]

clf = RandomForestClassifier(n_estimators=200)
clf.fit(X_train, X_test)

RandomForestClassifier(n_estimators=200)

In [45]:
def fit_reference(reference, clf):
    X_train = reference.iloc[:, :-1]
    X_test = reference.iloc[:, -1]
    
    clf = RandomForestClassifier(n_estimators=200)
    clf.fit(X_train, X_test)

In [46]:
window = stream.copy()
window = window.drop('2', axis=1)
window

              0        1
0     -2.173800 -0.30919
1     -0.676320  1.07960
2      3.939200  2.07350
3      0.865890  1.83250
4      0.812800  0.51703
...         ...      ...
15995 -0.040798 -0.51266
15996  1.958700  1.39020
15997  4.399500  5.91600
15998  4.364600  3.11840
15999  2.154500  0.99238

[16000 rows x 2 columns]

In [68]:
print(start['0'].tolist())

[-2.1738, -0.67632, 3.9392, 0.86589, 0.8128, 1.4876, 3.2044, 3.0159, 3.2515, -0.041503, 3.1595, 2.5003, -0.54471, 0.17047, 3.6292, 3.103, 6.8677, 1.8863, 3.7605, 3.0305, 5.9482, 3.4493, 3.0514, -1.1803, -0.13847, 3.8036, 0.74812, -2.0882, 2.7529, 3.811, 3.9859, -0.99532, -1.2387, 3.9284, 2.6343, 4.0642, 3.0825, 1.0047, 4.2336, 4.3693, -2.151, 3.8747, 4.3343, 3.0016, 2.8601, 4.9485, 2.4319, 2.897, -0.18123, 5.4776, 3.5294, 2.7023, 2.708, 4.5727, 2.3632, 1.4355, 1.9286, 1.6244, 6.5178, -0.76676, -0.72577, 2.87, 1.3512, 4.7265, -3.3553, 2.0434, 3.5642, -2.4383, 7.0937, -1.1263, 0.60938, -1.4991, -0.99012, 5.1167, -0.26662, 5.5202, -4.4009, 0.29438, 3.2368, 5.3865, -0.11288, 2.5919, 1.132, 5.9542, -0.78056, 3.2852, 0.72104, -1.6443, -0.018732, 6.7671, 6.0063, 0.70828, 4.3883, -1.9517, 2.175, 1.8408, 0.27663, -1.3728, 5.1214, 1.3058, 2.0487, 4.5402, 2.5663, 1.007, 0.96807, 1.5761, -1.8846, 3.1428, -0.84498, 4.4723, -0.1413, 0.74564, -0.33468, 3.3744, 5.0827, 5.4566, 2.7526, 4.1475, 4.5741, 6.6994, -1.4919, 1.3016, -0.14194, 3.9967, 2.685, -1.1751, 3.2535, 2.0988, 1.4851, 4.0125, -2.4414, -1.0754, -1.948, 5.107, -0.76914, -0.63638, 3.5855, 2.8291, 3.6086, 2.7809, -0.65196, 1.1838, 2.1521, -0.092619, 3.7765, 5.6236, -0.17864, 2.3395, -0.88808, -1.6102, -2.6296, -0.52708, 5.6158, -2.4109, 4.6394, -0.61392, -1.1978, -0.48365, -2.3938, 3.138, -2.1221, 5.005, 2.5818, -0.79704, 2.5229, 0.097126, -0.85561, 1.0459, -1.14, 1.1994, 4.6131, 6.3143, 2.5494, 5.3092, 5.0837, 5.2154, 2.6085, -0.83111, -1.2868, 5.4342, -0.59348, 1.7181, 0.10383, -1.7573, 4.0068, 0.26289, -1.4689, 4.1921, 0.45923, 0.82145, -0.80222, 5.0402, -0.9443, -1.2562, 6.9358, 3.3852, 2.266, 5.1583, 1.4134, -0.98774, -1.9876, 5.2183, 2.9297, -2.112, 0.2209, -0.59834, -0.63343, 0.021938, 4.6451, 3.7175, 3.7263, 0.5289, 2.3948, 2.4408, 0.43106, 3.2088, -0.47142, 4.4468, 1.7653, 3.9826, 0.45259, 4.1043, 5.364, 4.4191, 1.2483, 1.8767, 1.9973, 3.5099, 1.6999, 2.8882, -0.78638, 1.2987, 2.2232, -1.6646, 3.794, 3.0829, -3.1982, 3.3979, 2.0476, 4.9382, 5.5353, -0.084603, 1.1282, 3.6833, 3.1737, 0.86418, 1.1549, -2.3842, 1.3216, 0.32762, -0.90118, 3.3752, 2.3513, 1.1919, 0.10329, 4.1856, 1.2765, 4.8916, 3.3052, 5.9253, 0.20041, 4.0694, 0.78494, 0.32362, -2.2598, 2.9306, 2.6758, 0.81034, -0.76028, 3.8523, 0.87819, 6.3036, 3.6757, -0.96016, 0.72677, 0.6648, -0.42231, 2.2735, 4.575, 3.3613, 4.8813, 2.6067, 1.8647, 0.51435, 6.3066, -2.0509, 3.7993, 4.0106, 0.35721, 0.025002, -1.7456, 2.4899, -1.3634, 7.3848, 4.4186, 0.68829, 1.0119, 5.1935, 4.6329, 5.0464, -2.1358, 8.1931, 3.19, 1.9346, 4.2999, 3.6348, 2.225, -0.71752, 4.721, 0.24289, 2.9113, -1.2933, -0.72531, 3.5085, -1.0937, 4.4846, 5.4854, 3.9625, 4.1145, 1.1417, 4.4512, -1.4488, 0.037745, 0.085398, 4.4076, -0.015653, -2.2524, 3.8046, 3.6219, 0.43888, 5.1587, 4.473, 1.655, 4.0421, 0.89022, 5.8904, -3.0204, -2.5045, -2.3156, 2.6941, 1.6615, 4.2352, 4.7591, -1.6674, -1.8471, 5.1568, -0.31249, 0.30723, -0.41369, 3.7669, 5.1478, 3.1432, -0.40913, 7.3219, 3.3948, 3.2738, 5.1652, 1.9111, 4.1077, 2.3812, 1.4233, 4.5156, 5.3142, 4.794, 6.1569, 2.7666, 0.91243, 0.34654, -0.48172, 5.3432, 5.6029, 3.4697, 0.60141, -0.76091, 1.925, -4.3469, -0.094465, 1.1827, 5.356, -0.31191, 3.6948, 4.9408, 4.6913, 3.2179, -1.3499, 0.37417, -1.3762, 1.8682, 0.50492, 4.2824, 3.5508, 0.16427, 2.9902, -0.64849, 2.4293, -1.5642, 3.0077, 4.2286, 1.2815, 4.0423]

In [67]:
iks = IKSSW(start['0'].tolist())
predicted_values = []
drift_count = 0
for obs in range(winsize+1, len(stream)):
    s = obs-winsize
    predicted_values.append(clf.predict([window.iloc[obs, :]]))
    iks.Increment(window.iloc[obs, 0].tolist())
    if iks.KS:
        print(obs)
        reference = stream.iloc[s:obs, :]
        fit_reference(reference, clf)
        iks = IKSSW(reference)
        drift_count += 1

D:\Anaconda\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

401

D:\Anaconda\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

TypeError: '<=' not supported between instances of 'float' and 'str'